*{
    margin: 0px;
    padding: 0px;
}

.header{

    width: 100%;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    z-index: 2;
}

.container_center{

    display: flex;
    justify-content: center;
}

.container{
    width: 90%;
    display: flex;

}

.title{

    font-family: 'Segoe UI';
    font-weight: 300;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */


.logo{
    height: 90px;
    width: 14.9%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI';
    font-size: 28px;
    font-weight: bolder;
}

.menu_bar{

    width: 30%;
    height: 90px;
    margin-left: 55%;
}

.menu{
    list-style: none;
    display: flex;

}

.menu_link{

    width: 20%;
    height: 100px;
    font-family: 'Segoe UI';
    font-size: 18px;
    font-weight: bolder;
    text-align: center;
    margin-top: 30px;
}

/* ----------------------------------------------------------------------------------------------------------- */

.section2{

    height: 100vh;
    width: 100%;
    background-image: url('../Media/Img1.jpg');
    background-size: cover;
    background-color: red;
    background-position: 0 -140px;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    overflow: hidden;
}

.container_tagline{

    height: 400px;
    width: 40%;
    border-radius: 10px;
    margin-top: 50px;
    padding: 20px 30px;
    z-index: 2;
}
  
.tagline{
    margin-top: 80px;
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 100px;
    
}

.btn1{

    padding: 20px 40px;
    margin-top: 20px;
    border: none;
    background-color: rgba(100, 100, 100, 0.5);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;

}

.btn1:hover{

    cursor: pointer;
}

.cut{

    height: 100%;
    width:50%;
    background-color: rgba(119, 153, 170,0.6);
    /* position: absolute; */
    align-self: flex-start;
    transform: rotateZ(50deg);
    z-index: 1;
    transition: 0.5s;
}

.cut:hover{

    width: 100%;
    transform: rotateZ(0deg);
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */


.products{
    /* background-color: gray; */
    padding-top: 40px;
    padding-bottom: 40px;   
}

.product_container{

    flex-direction: column;
    align-items: center;
}

.product_section{

    display: flex;
    width: 100%;
}

.allframes{
    display: flex;
    flex-wrap: wrap;
}

.product_frame{

    height: 400px;
    width: 20%;
    background-color: black;
    border-radius: 10px;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    color: white;
    margin: 20px 20px;
    transition: 1s;
}

.product_frame:nth-child(1){

    background-image: url("W:/FrontEnd & BackEnd/Front End/Practice Project/Media/img2.jpg");

}

.product_frame:nth-child(2){

    background-image: url("W:/FrontEnd & BackEnd/Front End/Practice Project/Media/img3.jpg");

}

.product_frame:nth-child(3){

    background-image: url("W:/FrontEnd & BackEnd/Front End/Practice Project/Media/img4.jpg");

}

.product_frame:nth-child(4){

    background-image: url("W:/FrontEnd & BackEnd/Front End/Practice Project/Media/img5.jpg");

}

.product_frame:nth-child(5){

    background-image: url("W:/FrontEnd & BackEnd/Front End/Practice Project/Media/Img6.jpg");

}

.product_frame:nth-child(6){

    background-image: url("W:/FrontEnd & BackEnd/Front End/Practice Project/Media/img7.jpg");

}

.product_frame:hover{

    height: 500px;

}


.product_description{
    padding: 20px;
    font-family: 'Segoe UI';
    background-color: rgba(0,0,0,0.4);
    border-radius: 10px;
    overflow: hidden;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 1s;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.gal_products{

    width: 100%;
    height: 90vh;
    overflow: hidden;
    position: relative;
}


.section3{
    position: absolute;
    display: flex;
    height: 80vh;
    width: 100%;

}

.s3_img1{

    width: auto;
    background-size: cover;
    height: auto;
}


.s3_container{
    display: flex;
    flex-direction: column;
    padding: 50px;
    margin-top: 100px;
    overflow: hidden;
}

.s3_headder{

    font-family: 'Segoe UI';
    font-size: 40px;
    margin-left: 50px;
}


.s3_description{
    
    width: 70%;
    margin-left: 50px;
}


.btn2{
    margin-left: 50px;
    width: 50%;
}

.gal1{
    margin-left: 0%;
}

.gal2{
    margin-left: 25%;
}

.gal3{
    margin-left: 50%;
}

.gal4{
    margin-left: 75%;
}